input[type="text"],
input[type="email"],
input[type="number"],

select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 0 20px rgb(172, 50, 190);
    box-sizing: content-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #993881;
    color: white;
    padding: 14px 20px;
    margin: 8px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 0 20px rgb(172, 50, 190);
    box-sizing: content-box;
}

input[type="submit"]:hover {
    background-color: rgb(217, 62, 163);
    box-shadow: 0 0 20px rgb(172, 50, 190);
    box-sizing: content-box;
}